{% extends 'AppBundle::base.html.twig' %} {% block body %}
<ul class="pager">
	<li><a href="/{{ app.request.locale }}/entity/browse/{{ entity }}">&larr; {{
			'btn_back'|trans }}</a></li>
	<li><a href="/{{ app.request.locale }}/entity/edit/{{ entity }}/{{ attribute(item,pk) }}">{{
			'btn_edit'|trans }}</a></li>
	<li><a href="#" id="btn_delete_confirm">{{ 'btn_delete'|trans }}</a></li>
</ul>
<h3>{{ 'post_details'|trans }}</h3>
<div class="jumbotron block-shadow">
	<table>
		{% for field in fields %}
		<tr>
			<td>{{ field }}</td>
			<td>{{ attribute(item,field)|json_encode() }}</td>
		</tr>
		{% endfor %}
	</table>
</div>
<div id="delete_confirm" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ 'confirm_dialog'|trans }}</h4>
      </div>
      <div class="modal-body">
        <p class="text-danger">{{ 'confirm_delete_entry'|trans }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'btn_cancel'|trans }}</button>
        <a href="/{{ app.request.locale }}/entity/delete/{{ entity }}/{{ attribute(item,pk) }}"><button type="button" class="btn btn-danger">{{ 'btn_delete'|trans }}</button></a>
      </div>
    </div>
  </div>
</div>
{% block javascripts %}
<script type="text/javascript">
(function($){
	$('*[data-dismiss="modal"]').bind('click',function(){$('#delete_confirm').hide();});
	$('#btn_delete_confirm').bind('click',function(){$('#delete_confirm').show();});
})(jQuery);
</script>
{% endblock %}
{% endblock %}
